.add-product-form {
  max-width: 950px;
  height: 750px;
  margin: 40px auto;
  background-color: #fdfdfd;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-upload {
  align-self: center;
  cursor: pointer;
}

.upload-placeholder {
  width: 120px;
  height: 120px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 30px;
}

.image-preview {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-row label {
  font-weight: bold;
  color: #444;
}

.form-row input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.save-btn {
    margin: 3px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.save-btn {
  background-color: #6C816D;
  color: white;
}
