.dashboard-page {
  padding: 20px;
  margin-left: 240px;
  color: #286E34;
}
.welcome-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;

}
.search-group {
  display: flex;
  align-items: center;
  gap: 20px; /* ระยะห่างระหว่างกล่องค้นหาและกล้อง */
}
.search-row {
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.search-box {
  display: flex;
  align-items: center;
  background-color: #d0c2f8;
  padding: 6px 40px;
  border-radius: 12px;
  width: fit-content;
}
.search-input {
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  width: 160px;
  color: #8a6ee8;
}

.fas.fa-search,
.fas.fa-qrcode {
  font-size: 18px;
  color: #470fd4;
  margin-left: 10px;
  cursor: pointer;
}
.icon-barcode {
  font-family: 'Material Icons', sans-serif;
}

.download-link {
  text-decoration: none;
  color: #4a90e2;
  font-size: 14px;
  float: right;
  margin-left: auto;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
  background-color: #f5f5f5;
  flex-wrap: wrap;
}

.summary-boxes {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}
.summary-card {
  background-color: #C2C2C2;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  width: 140px;
  height: 120px;
}
.summary-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.text-red {
  color: red;
}
.category-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.section {
  margin-bottom: 30px;
  background-color: #C2C2C2;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.section h2 {
 padding: 8px 12px;
 margin: 0;
}
.product-card {
   background-color: #C2C2C2;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.product-grid,
.low-stock {
 display: flex;
  gap: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #C2C2C2;
}
.product-types{
  display: inline-block;
  width: 150px;
  height: 120px;
  background-color: #6C816D;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
}
.product-types img {
  width: 100px;
  height: auto;
}
.product-types figcaption {
  margin-top: 4px;
  font-size: 14px;
  color: #C2C2C2;
}
.product-grid{
  height: 100px;
  margin: 0;
  width: 100%;
}
.product-grid img,
.product-types img {
  width: 100%;
  display: block;
  height: 80px;
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;

}
.low-stock img {
  margin: 10px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;

}
.activity-box {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background-color: #C2C2C2;
  margin-top: 30px;
 
}
.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /*ให้ข้อความตรงอยู่แนวเดียวกัน*/
}
.activity-header h2 {
  padding: 8px 12px;
  margin: 0;
}
.activity-box p {
   margin: 0;
  padding: 8px 12px;
  
}
.activity-date {
  margin-top: 10px;
  font-size: 13px;
  
}
.download-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.download-link {
  color: #6C816D;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.download-link:hover {
  color: #6C816D;
}
.section-link {
  cursor: pointer;
  color: #6C816D;
}

.section-link:hover {
  text-decoration: underline;
  color: #6C816D;
}
