.login-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #6C816D;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.login-box {
  background-color: #c6d3c5;
  border: none;
  border-radius: 16px;
  padding: 32px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: center;
}

.brand {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  color: #1c501c;
}

h1 {
  font-size: 20px;
  color: #1c501c;
  margin-bottom: 24px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #1c501c;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 16px;
  color: white;
}


.register-link {
  position: absolute;
  top: 12px;
  right: 20px;
  display: inline-block;
  padding: 4px;
  z-index: 1;
}

