/* ProductPage.css */

.dashboard-page {
  padding: 20px;
  margin-left: 240px;
  color: #286E34;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.welcome-title {
  font-size: 28px;
  font-weight: bold;
}
.search-box {
  display: flex;
  align-items: center;
  gap: 10px; /* ระยะห่างระหว่างกล่องค้นหาและกล้อง */
}
.search-input {
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
  width: 160px;
  color: #8a6ee8;
}

.fas.fa-search,
.fas.fa-qrcode {
  font-size: 18px;
  color: #470fd4;
  margin-left: 10px;
  cursor: pointer;
}
.icon-barcode {
  font-family: 'Material Icons', sans-serif;
}


.add-btn {
  background-color: #286E34;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.product-table {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.product-table table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.product-table td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 8px;
}

.product-table td span {
  vertical-align: middle;
}

.edit-icon {
  color: #8a6ee8;
  cursor: pointer;
}

.stock-summary {
  text-align: right;
  padding-top: 10px;
  font-size: 14px;
  color: gray;
}
