.sidebar {
  width: 220px;
  background-color: #6C816D;
  color: #fff;
  height: 100vh;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: fixed;
  left: 0;
  top: 0;
}
.sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;/*จัดทุกตัวให้อยู่กึ่งกลางแนวขวาง*/
  justify-content: center;
  margin-bottom: 20px;
}
.sidebar-link.active {
  background-color: #fff;
  font-weight: bold;
  color: #2e443f;  
}
.profile-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
  align-items: center;
}

.profile-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
   font-size: 18px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
}

.sidebar-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  transition: background-color 0.2s ease, color 0.2s ease;
}
/*ตรงนี้สำหรับเม้าส์จ่อ*/
.sidebar-link:hover {
 background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}
.logout {
  margin-top: auto;
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  cursor: pointer;
}
.logout:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
