/* StockCheckPage.css */

.content {
  padding: 30px;
  margin-left: 2px;

}
.topbar {
    display: flex;
   
    width: 100%;
    height: 100px;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #286E34;
  margin-bottom: 20px;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stock-table th, .stock-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.stock-table th {
  background-color: #f0f0f0;
  color: #333;
  font-weight: 600;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.stock-input {
  width: 60px;
  padding: 4px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.status {
  font-weight: bold;
}

.status.green {
  color: green;
}

.status.red {
  color: red;
}

.status.orange {
  color: orange;
}

.button-group {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  justify-content: right;
}

.btn-check, .btn-cancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-check {
  background-color: #286E34;
  color: white;
}

.btn-cancel {
  background-color: white;
  border: 1px solid #ccc;
  color: black;
}
